:root{
    color: #0b117f;
}
.InfoBox{
    border: 2px solid #647080;
    margin: 20px;
    padding: 10px;
    width: 60%;
    height: 60%;
    box-shadow: 5px 5px 15px #888888;
}

h2{
    color: #0b117f
}

.cardContainer{
    display: flex;
    justify-content: center;

}