:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100vh;
    border: 2px solid #de6166;
    padding: 20px;
    margin-left: 25%;
    background-color: #89d8c3;
}

.Form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 700;
}

